body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior:smooth;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  margin:0;
  padding:0;
}
.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
.lista {
  margin: 2px 0;
}
.lista li {
  display:inline;
}
.black-transparent-medium {
  background: rgba(0,0,0,0.5);
}
.price:before {
  content:"$ ";
  font: bold 15px 'Amatic', sans-serif;
}
.price:after{
  content: " mxn";
  font: bold 10px 'Amatic', sans-serif;
  text-transform: uppercase;
}


/* SHARE BUTTONS */
ul#shareButtons li {
  display:inline;
}
ul#shareButtons li {
  display:inline;
}
ul#shareButtons li {
  display:inline;
}
ul#shareButtons li a {
  text-decoration:none;
}

/* TOOLTIPS */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background: #ff9800;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 0;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: &quot;&quot;;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
